@media screen and (max-width: 862px) {
    #containerPrincipal {
    
    width: 100%;
    height: 800px;
    
    position: absolute;
}

#containerSecundario {
   width: 400px;
   height: 200px;
  margin-top: 5px;
  border-radius: 10px;
    background: linear-gradient(rgb(31, 46, 31), gray, green);
      font-style:oblique ;
      box-shadow:0px 2px 5px lightgreen;
    margin: 0%;
    margin-top: 5%;
      

}
.content {
    padding: 7vw;
}
#seletor {
    
  
    width: 380px;
    height: 10px;
    margin-left: 25px;
    font-size: 15pt;
    margin-top: 15px;
}
#dark {
    font-size: 12pt;
    background: black;
    color: white;
    cursor: pointer;
    font-weight: bold;
    box-shadow:0px 0px 5px 8px black;
}
#white {
    font-size: 12pt;
    font-weight: bold;
    cursor: pointer;
    margin-left: 150px;
    background: white;
    color: black;
    box-shadow:0px 0px 5px 8px white;
    border: none;
}

#titulo2 {
    text-align: center;
    font-style:oblique ;
  
    margin-left: 50%;
    transform: translate(-50%);
   
    background: rgb(139, 194, 29);
    border-radius: 5px;
    width: 380px;
    box-shadow:  5px 5px 10px rgb(139, 194, 29);
    color: white;
    
    
}

#titulo2 h2 {

font-size:30pt;
}
#botão {
    position: absolute;
      font-style:oblique ;
    border-radius: 5px;  
    text-align: center;
    color: rgb(212, 201, 201);
    background: rgb(59, 56, 56);
    font-size: 10pt;
    box-shadow:  0px 0px 5px rgb(134, 134, 134);
   border: none;
    height:20px;   
    width: 100px;
    margin-top: 100px;
   
    
}

#resetar{
    position: absolute;
    border: none;
    font-style:monospace ;
    border-radius: 5px;  
    text-align: center;
     font-style:oblique ;
    border-radius: 5px;  
    text-align: center;
    color: rgb(65, 60, 60);
    background: greenyellow;
    font-size: 10pt;
    box-shadow:  0px  0px 8px rgb(105, 179, 136);
    margin-left: 250px;
    margin-top: 100px;

   
   height:20px;   
    width: 100px; 
    font-weight: bold;
}

#ativ {
    position: absolute;
    margin-top: 60px;
    border: none;
    box-shadow:  3px 3px 7px rgb(134, 134, 134);
    font-style:oblique ;
    font-size: 10pt;
    width: 350px;
    height: 20px;
    border-radius: 10px;
   
}


#tabela {
   display: inline-block;
    width: 400px;
    height: 500px;
    overflow: hidden;
    
    margin: 0%;
    margin-top: 20px;
    border-radius: 10px;
   
    background: linear-gradient(rgb(77, 88, 77), gray, green);
    
}
#tab option {
    margin-top: 12px;
}







#opçãot1, #opçãot2, #opçãot3, #opçãot4, #opçãot5, #opçãot6, #opçãot7, #opçãot8 {
   visibility: hidden;
    height: 2vw;
   border-radius: 10px;
    font-size: 12pt;
    margin-top: 3vw;
    margin-left: 1vw;
    color: black;
    font-weight: bold;
    font-style: monospace;
    text-align: left;
    width: 270px;
    height: 25px;
    background: none;
   
} 
.inps {
    background-color: white;
}


}
@media screen and (min-width: 863px ) {
    #containerPrincipal {
    
    width: 100vw;
    height: 100vw;
    margin-left: 50%;
    margin-top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

#containerSecundario {
   width: 50vw;
   height: 140px;
  margin-top: 50px;
  border-radius: 10px;
    background: linear-gradient(rgb(31, 46, 31), gray, green);
      font-style:oblique ;
      box-shadow:0px 2px 5px lightgreen;
}
.content {
    padding: 7vw;
}
#seletor {
    
  
    width: 50vw;
    height: 10px;
    
    font-size: 15pt;
    margin-top: -85px;
}
#dark {
    font-size: 1.2vw;
    background: black;
    color: white;
    cursor: pointer;
    font-weight: bold;
    box-shadow:0px 0px 5px 8px black;
}
#white {
    font-size: 1.2vw;
    font-weight: bold;
    cursor: pointer;
    margin-left: 35vw;
    background: white;
    color: black;
    box-shadow:0px 0px 5px 8px white;
    border: none;
}

#titulo2 {
    text-align: center;
    font-style:oblique ;
  
    margin-left: 50%;
    transform: translate(-50%);
   
    background: rgb(139, 194, 29);
    border-radius: 5px;
    width: 30vw;
    box-shadow:  5px 5px 10px rgb(139, 194, 29);
    color: white;
    
    
}

#titulo2 h2 {

font-size:3vw;
}
#botão {
    
      font-style:oblique ;
    border-radius: 5px;  
    text-align: center;
    color: rgb(212, 201, 201);
    background: rgb(59, 56, 56);
    font-size: 1.1vw;
    box-shadow:  0px 0px 5px rgb(134, 134, 134);
   border: none;
    height:30px;   
    width: 9.7w; 
    
}
#ativ {
    margin-top: 20px;
    border: none;
    box-shadow:  3px 3px 7px rgb(134, 134, 134);
    font-style:oblique ;
    font-size: 1.1vw;
    width: 25vw;
    height: 4vh;
    border-radius: 10px;
   
}


#tabela {
   display: inline-block;
    width: 50vw;
    height: 50vw;
    overflow: hidden;
    margin-top: 25vw;
    margin-left: 50%;
    transform: translate(-50%, -40%);
    border-radius: 10px;
   
    background: linear-gradient(rgb(77, 88, 77), gray, green);
    
}
#tab option {
    margin-top: 12px;
}




#opção1 {
    width: 35vw;
}


#opçãot1, #opçãot2, #opçãot3, #opçãot4, #opçãot5, #opçãot6, #opçãot7, #opçãot8 {
   
    height: 2vw;
   border-radius: 10px;
    font-size: 1.8vw;
    margin-top: 3vw;
    margin-left: 1vw;
    color: black;
    font-weight: bold;
    font-style: monospace;
    text-align: left;
    width: 35vw;
    background: none;
   
} 
.inps {
    background-color: white;
}
#resetar{
    border: none;
    font-style:monospace ;
    border-radius: 5px;  
    text-align: center;
     font-style:oblique ;
    border-radius: 5px;  
    text-align: center;
    color: rgb(65, 60, 60);
    background: greenyellow;
    font-size: 1.1vw;
    box-shadow:  0px  0px 8px rgb(105, 179, 136);
    margin-left: 1px;
   
    height: 30px;
   
    width: 9.7vw;
    font-weight: bold;
}

#containerPrincipal {
    
    width: 100vw;
    height: 100vw;
    margin-left: 50%;
    margin-top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

#containerSecundario {
   width: 50vw;
   height: 140px;
  margin-top: 50px;
  border-radius: 10px;
    background: linear-gradient(rgb(31, 46, 31), gray, green);
      font-style:oblique ;
      box-shadow:0px 2px 5px lightgreen;
}
.content {
    padding: 7vw;
}
#seletor {
    
  
    width: 50vw;
    height: 10px;
    
    font-size: 15pt;
    margin-top: -85px;
}
#dark {
    font-size: 1.2vw;
    background: black;
    color: white;
    cursor: pointer;
    font-weight: bold;
    box-shadow:0px 0px 5px 8px black;
}
#white {
    font-size: 1.2vw;
    font-weight: bold;
    cursor: pointer;
    margin-left: 35vw;
    background: white;
    color: black;
    box-shadow:0px 0px 5px 8px white;
    border: none;
}

#titulo2 {
    text-align: center;
    font-style:oblique ;
  
    margin-left: 50%;
    transform: translate(-50%);
   
    background: rgb(139, 194, 29);
    border-radius: 5px;
    width: 30vw;
    box-shadow:  5px 5px 10px rgb(139, 194, 29);
    color: white;
    
    
}

#titulo2 h2 {

font-size:3vw;
}
#botão {
    
      font-style:oblique ;
    border-radius: 5px;  
    text-align: center;
    color: rgb(212, 201, 201);
    background: rgb(59, 56, 56);
    font-size: 1.1vw;
    box-shadow:  0px 0px 5px rgb(134, 134, 134);
   border: none;
    height:30px;   
    width: 9.7w; 
    
}
#ativ {
    margin-top: 20px;
    border: none;
    box-shadow:  3px 3px 7px rgb(134, 134, 134);
    font-style:oblique ;
    font-size: 1.1vw;
    width: 25vw;
    height: 4vh;
    border-radius: 10px;
   
}


#tabela {
   display: inline-block;
    width: 50vw;
    height: 50vw;
    overflow: hidden;
    margin-top: 25vw;
    margin-left: 50%;
    transform: translate(-50%, -40%);
    border-radius: 10px;
   
    background: linear-gradient(rgb(77, 88, 77), gray, green);
    
}
#tab option {
    margin-top: 12px;
}




#opção1 {
    width: 35vw;
}


#opçãot1, #opçãot2, #opçãot3, #opçãot4, #opçãot5, #opçãot6, #opçãot7, #opçãot8 {
   
    height: 2vw;
   border-radius: 10px;
    font-size: 1.8vw;
    margin-top: 3vw;
    margin-left: 1vw;
    color: black;
    font-weight: bold;
    font-style: monospace;
    text-align: left;
    width: 35vw;
    background: none;
   
} 
.inps {
    background-color: white;
}
#resetar{
    border: none;
    font-style:monospace ;
    border-radius: 5px;  
    text-align: center;
     font-style:oblique ;
    border-radius: 5px;  
    text-align: center;
    color: rgb(65, 60, 60);
    background: greenyellow;
    font-size: 1.1vw;
    box-shadow:  0px  0px 8px rgb(105, 179, 136);
    margin-left: 1px;
   
    height: 30px;
   
    width: 9.7vw;
    font-weight: bold;
}


}
