
#containerPrincipal {
   
    width: 100vw;
    height: 100vw;
     
    background: white;
}


#containerSecundario {
   
    font-size: 15pt;
    background: linear-gradient(rgb(31, 46, 31), gray, green);
   
    height: 100px;
    width: 200px;
    border-radius: 5px;
    padding: 20px;
      font-style:oblique ;
      box-shadow:0px 2px 5px lightgreen;
}

#seletor {
    
  
    width: 220px;
    height: 10px;
    
    font-size: 15pt;
    margin-top: -50px;
}
#dark {
    font-size: 1.2vw;
    background: black;
    color: white;
    cursor: pointer;
    font-weight: bold;
    box-shadow:0px 0px 5px 8px black;
}
#white {
    font-size: 1.2vw;
    font-weight: bold;
    cursor: pointer;
    margin-left: 120px;
    background: white;
    color: black;
    box-shadow:0px 0px 5px 8px white;
    border: none;
}

#titulo2 {
    text-align: center;
    font-style:oblique ;
   margin-top: -1%;
    margin-left: 50%;
    transform: translate(-50%, -80%);
    background: rgb(139, 194, 29);
    border-radius: 5px;
    width: 26vw;
    box-shadow:  5px 5px 10px rgb(139, 194, 29);
    color: white;
    
}

#titulo2 h2 {
font-size:5pt;
}
#botão {
    
      font-style:oblique ;
    border-radius: 5px;  
    text-align: center;
    color: rgb(212, 201, 201);
    background: rgb(59, 56, 56);
    font-size: 1.1vw;
    box-shadow:  0px 0px 5px rgb(134, 134, 134);
   border: none;
    height:8px;   
    width: 9.7w; 
    
}
#ativ {
    margin-top: -20px;
    border: none;
    box-shadow:  3px 3px 7px rgb(134, 134, 134);
    font-style:oblique ;
    font-size: 1.1vw;
    width: 20vw;
    height: 5px;
   
    border-radius: 5px;
   
}


#tabela {
   
    width: 50vw;
    height: 50vw;
    overflow: hidden;
    margin-top: 300px;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 2px;
    background: linear-gradient(rgb(31, 46, 31), gray, green);
    
}
#tab option {
    margin-top: 12px;
}

#opção1, #opção2,#opção3, #opção4, #opção5, #opção6, #opção7, #opção8, #opção9, #opção10 {
    margin-top: 4vw;
    margin-left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
    background:rgb(14, 11, 11);
    border-radius: 10px;
}





#opçãot1, #opçãot2, #opçãot3, #opçãot4, #opçãot5, #opçãot6, #opçãot7, #opçãot8 {
    position: absolute;
    font-size: 1.8vw;
    margin-top: -5px;
    margin-left: 2vw;
    color: black;
    font-weight: bold;
    font-style: monospace;
} 
#resetar{
    border: none;
    font-style:monospace ;
    border-radius: 5px;  
    text-align: center;
     font-style:oblique ;
    border-radius: 5px;  
    text-align: center;
    color: rgb(65, 60, 60);
    background: greenyellow;
    font-size: 1.1vw;
    box-shadow:  0px  0px 8px rgb(105, 179, 136);
    margin-left: 1px;
   
    height: 8px;
   
    width: 9.7vw;
    font-weight: bold;
}
